<nav class="mb-1">
  <div class="flex gap-1">
    <a href="/" class="nav-link <%= 'active' if current_page == 'upcoming' %>">Upcoming</a>
    <a href="/history.html" class="nav-link <%= 'active' if current_page == 'history' %>">History</a>
  </div>
</nav>