@import "tailwindcss";

@theme {
  --color-catppuccin-rosewater: #f5e0dc;
  --color-catppuccin-flamingo: #f2cdcd;
  --color-catppuccin-pink: #f5c2e7;
  --color-catppuccin-mauve: #cba6f7;
  --color-catppuccin-red: #f38ba8;
  --color-catppuccin-maroon: #eba0ac;
  --color-catppuccin-peach: #fab387;
  --color-catppuccin-yellow: #f9e2af;
  --color-catppuccin-green: #a6e3a1;
  --color-catppuccin-teal: #94e2d5;
  --color-catppuccin-sky: #89dceb;
  --color-catppuccin-sapphire: #74c7ec;
  --color-catppuccin-blue: #89b4fa;
  --color-catppuccin-lavender: #b4befe;
  --color-catppuccin-text: #cdd6f4;
  --color-catppuccin-subtext1: #bac2de;
  --color-catppuccin-subtext0: #a6adc8;
  --color-catppuccin-overlay2: #9399b2;
  --color-catppuccin-overlay1: #7f849c;
  --color-catppuccin-overlay0: #6c7086;
  --color-catppuccin-surface2: #585b70;
  --color-catppuccin-surface1: #45475a;
  --color-catppuccin-surface0: #313244;
  --color-catppuccin-base: #1e1e2e;
  --color-catppuccin-mantle: #181825;
  --color-catppuccin-crust: #11111b;
}

.button {
  @apply px-2;
  @apply py-1.5;
  @apply bg-catppuccin-blue;
  @apply hover:bg-catppuccin-sapphire;
  @apply text-catppuccin-base;
  @apply text-xs;
  @apply uppercase;
  @apply font-bold;
}

.button:not(:first-child) {
  @apply bg-catppuccin-red;
  @apply hover:bg-catppuccin-maroon;
}

.button.disabled {
  @apply bg-catppuccin-overlay0;
  @apply text-catppuccin-subtext0;
  @apply cursor-not-allowed;
  @apply opacity-50;
}

.button {
  @apply flex;
  @apply items-center;
  @apply gap-1;
  @apply whitespace-nowrap;
  @apply overflow-hidden;
  @apply text-ellipsis;
}

.button-icon {
  @apply w-4;
  @apply h-4;
  @apply flex-shrink-0;
}

.countdown span.button-icon {
  @apply w-4;
  @apply h-4;
  @apply inline-block;
}

.button-icon svg {
  @apply w-full;
  @apply h-full;
}

.no-spacing {
  line-height: 0;
  font-size: 0;
  vertical-align: top;
}

.no-spacing * {
  line-height: 1;
  vertical-align: baseline;
}

