<!DOCTYPE html>
<html>
  <head>
    <title>Ladder Reset</title>
    <%= stylesheet_tag('tailwind.css') %>
  </head>

  <body class="bg-catppuccin-base">
    <main class="container mx-auto px-6 py-8 font-sans text-catppuccin-text">
      <%= yield %>
    </main>
    
    <%= javascript_tag('app.js') %>
  </body>
</html>
